# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual Environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Output folders
outputs/logs/
outputs/results/
outputs/figures/
outputs/models/

# Data folders
data/raw/
data/processed/
data/matches/

# System files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/