# Datasets
data/raw/
data/processed/
data/figures/

# Outputs
outputs/logs/
outputs/models/
outputs/figures/

# Notebooks
notebooks/archive/

# Checkpoints & cache
.ipynb_checkpoints/
__pycache__/
*.pt
*.pkl
*.csv
*.json
*.npy

# Hidden
.DS_Store
